body {
    background-image: url(pexels-cats-coming-707582.jpg);
    background-size: cover;
    
    

}
.card .card-body ul li:hover:nth-of-type(1) div {
    color: yellow;
    cursor: pointer;
}
.card .card-body ul li:hover:nth-of-type(2) div {
    color: blue;
}
.card .card-body ul li:hover:nth-of-type(3) div {
    color: blueviolet;
    cursor: pointer;
}
.card .card-body ul li:hover:nth-of-type(4) div {
    color: royalblue;
    cursor: pointer;
}
.card .card-body ul li:hover:nth-of-type(5) div {
    color:gold;
    cursor: pointer;
}
.card .card-body ul li:hover:nth-of-type(7) div {
    color:darkblue;
    cursor: pointer;
}
.card .card-body ul li:hover:nth-of-type(8) div {
    color:tomato;
    cursor: pointer;
}
.card .card-body ul li:hover:nth-of-type(9) div {
    color:green;
    cursor: pointer;
}


